.adminChat {
    min-height: 70vh;
    margin-top: 7vh;
}

.adminChat__container {
    min-width: 720px;
    width: 80vw;
    max-width: 1024px;
    margin: 5vh auto;
}

.navigation {
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    max-height: 60vh;
    overflow-y: auto;
}

.navigation__story {
    display: flex;
    align-items: center;
}

.navigation__story .navigation__item {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin: 5px 5px 1rem 5px;
}

.navigation__item {
    height: fit-content;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    cursor: pointer;
}

.navigation__item:hover,
.navigation__item.active {
    color: black;
    background: #d520472a;
    border: 1px solid #d52047;
}

.navigation__item:active {
    color: black;
    border: 1px solid transparent;
}

.navigation__left {
    flex: 11;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.navigation__right {
    flex-basis: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navigation__title {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
}

.navigation__description {
    font-size: 12px;
    margin: 0;
}

.navigation__date {
    font-size: 12px;
}

.listAdminAddChat {
    display: flex;
    flex-direction: column;
}

.listAdminAddChat__item {
    padding: 5px 1rem;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listAdminAddChat__contactId {
    font-size: 12px;
}
.listAdminAddChat__contactName {
    font-size: 18px;
}

.listAdminAddChat__item p {
    margin: 0;
}

.listAdminAddChat__item:hover {
    background: #d520472f;
}

.listAdminAddChat__contactId::before {
    content: "#";
}
