body {
    font-family: "Raleway", sans-serif;
}

* {
    outline: none !important;
}

*:focus {
    box-shadow: none !important;
    outline: none !important;
}

.custom-container {
    min-height: 100vh;
    padding-top: 4rem;
}

.custom-wrapper {
    width: 1024px;
    margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
    .custom-wrapper {
        width: auto;
        margin: 0 5vw;
    }
}
