.input-group input[type="file"] {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 70%;
    cursor: pointer;
}

.form-group select {
    cursor: pointer;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
}

.input-group .input-files {
    width: 100%;
    border: 1px solid #ced4da;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.input-files-filename {
    margin: 0 5px;
    color: #aaa;
    font-size: 14px;
    white-space: nowrap;
}

.invalid-feedback {
    display: block;
}

.invalid-feedback strong {
    white-space: pre-wrap;
}

.upload-files__wrapper {
    display: flex;
    height: 100px;
    width: 100%;
}

.upload-files__container input[type="file"],
.upload-files__container input#file-upload-button {
    opacity: 0;
    height: 100px;
    position: absolute;
    cursor: pointer;
}

.upload-files__container input[type="file"]:hover ~ .upload-files__add {
    color: #222;
    border: 1px dashed #222;
}

.upload-files__container,
.upload-files__preview,
.upload-files__preview--edit {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.upload-files__preview,
.upload-files__preview--edit {
    display: none;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.upload-files__preview--edit {
    cursor: default;
}

.upload-files__preview:hover {
    background: #d5204733;
    border: 1px solid #d52047;
}

.upload-files__preview:hover:after {
    content: "\2716";
    position: absolute;
    color: #d52047;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(200px);
}

.upload-files__preview img,
.upload-files__preview--edit img {
    border: 1px solid #ddd;
    margin: 5px;
    height: 64px;
    width: 64px;
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.upload-files__add {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 100%;
    width: 100%;
    color: #ddd;
    border: 1px dashed #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.upload-files__add:hover,
.upload-files__add.hover {
    color: #222;
    border: 1px dashed #222;
}

.review {
    display: flex;
}

.review input {
    display: none;
}

.review__star svg {
    fill: #d52047;
    cursor: pointer;
}

.review input:hover ~ .review__star svg {
    fill: black !important;
}

.review input:hover + .review__star svg {
    fill: #d52047 !important;
}

.review input:checked ~ .review__star svg {
    fill: black;
}

.review input:checked + .review__star svg {
    fill: #d52047;
}
