.userCustomerProject__project {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.userCustomerProject__project:hover {
    border: 1px solid rgba(213, 32, 71, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.userCustomerProject__project:active {
    border: 1px solid #d52047;
    background: rgba(213, 32, 71, 0.12);
}

.userCustomerProject__project:active .userCustomerProject__project__status {
    background: transparent;
    border: 1px solid #d52047;
    color: #d52047;
}

.userCustomerProject__project p {
    margin-bottom: 0;
    margin-top: 0;
    white-space: nowrap;
}

.userCustomerProject__project > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userCustomerProject__project--left {
    flex: 3;
    margin-right: 1rem;
}

.userCustomerProject__project--right {
    flex: 2;
}

.userCustomerProject__project__name {
    white-space: pre-wrap !important;
    font-weight: bold;
    overflow-wrap: anywhere;
    max-width: 120px;
}

.userCustomerProject__project__price {
    color: #ee3d1b;
    font-weight: 500;
}

.userCustomerProject__project__status {
    border-radius: 5px;
    background: #e0e0e0;
    padding: 5px 0;
    font-size: 14px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.userCustomerProject__project__status--finish {
    background: #1cae94;
    color: #ffffff;
}

.userCustomerProject__project__status--cancel {
    background: #d52047;
    color: #ffffff;
}

.userCustomerProject__project__status--progress {
    width: 160px;
    height: 26px !important;
}

.userCustomerProject__project__status--review {
    background: transparent;
}

.userCustomerProject__project__status--progress .progress-bar {
    background-color: #f2c94c;
    color: #000;
    white-space: nowrap;
}

.userCustomerProject__project__status--progress .progress-bar p {
    margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
    .userCustomerProject__project--left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }

    .userCustomerProject__project--right {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end !important;
        align-items: flex-end !important;
    }

    .userCustomerProject__project__status--review {
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 425px) {
    .userCustomerProject__project {
        padding: 10px;
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px) {
    .userCustomerProject__project {
        display: flex;
        flex-direction: column;
    }

    .userCustomerProject__project > div {
        margin-right: 0;
        width: 100%;
    }

    .userCustomerProject__project--right {
        flex-direction: column;
    }

    .userCustomerProject__project__status,
    .userCustomerProject__project__status--progress {
        width: 100%;
    }

    .userCustomerProject__project__status--progress .progress-bar p {
        margin-right: -240px;
    }
}
