.userRegistration {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

strong {
    white-space: nowrap;
}

.userRegistration__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5vw;
    margin: 5vh 0;
    width: 90%;
    gap: 2rem;
}

.userRegistration__container > div {
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.userRegistration__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userRegistration__header img {
    max-height: 100%;
    max-width: 100%;
}

.userRegistration__header {
    flex: 1;
    text-align: center;
    align-items: flex-end;
    color: black;
}

.userRegistration__register {
    flex: 0.5;
    align-items: center;
}

.userRegistration__submit {
    align-self: flex-end;
}

.auth-form {
    margin: 0 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1080px) {
    .userRegistration__container > div {
        min-width: 280px;
    }
}

@media only screen and (max-width: 960px) {
    .userRegistration__container {
        display: flex;
        flex-direction: column;
    }

    .userRegistration__header img {
        display: none;
    }

    .userRegistration__header,
    .userRegistration__register {
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .userRegistration__container {
        width: auto;
        padding: 0 20px;
    }

    .auth-form {
        width: auto;
        margin: 0 20px;
    }
}
