.userRegistration {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

strong {
    white-space: nowrap;
}

.userRegistration__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5vw;
    margin: 5vh 0;
    width: 70%;
    gap: 2rem;
}

.userRegistration__container > div {
    max-width: 400px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.userRegistration__hero {
    max-height: 100%;
    max-width: 100%;
}

.userRegistration__header {
    flex: 1;
    text-align: center;
}

.userRegistration__register {
    flex: 0.5;
}

.userRegistration__submit {
    align-self: flex-end;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1024px) {
    .userRegistration__container > div {
        min-width: 280px;
    }
}

@media only screen and (max-width: 768px) {
    .userRegistration__hero {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .userRegistration__container {
        width: auto;
    }
}
