.userProjectDetail {
    min-height: 70vh;
    margin-top: 7vh;
}

.userProjectDetail__container {
    min-width: 720px;
    width: 80vw;
    max-width: 1024px;
    margin: 5vh auto;
}

.carousel-item {
    max-height: 320px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.userProjectDetail__title {
    margin-top: 2rem;
}

@media only screen and (max-width: 720px) {
    .userProjectDetail__wrapper {
        padding: 0 5vw;
    }
}
