.partnerInvitation {
    min-height: 40vh;
}

.partnerInvitation__container {
    width: 60%;
    margin: 5vh auto;
    text-align: center;
}

.partnerInvitation button {
    font-size: 12px;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
    .partnerInvitation__container {
        width: 80%;
    }
}
