.timeline {
    min-height: 60vh;
}

.timeline__container {
    width: 80%;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
}

.timeline__title {
    text-align: center;
}

.timeline__steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.step {
    flex: 1;
    min-width: 200px;
    max-width: 280px;
    margin: 0 auto;
    text-align: center;
}

.step__image {
    max-height: 92px;
}
